@{
    ViewBag.Menu = "_MainMenu";
    ViewBag.Title = "MHMC: Page Not Found";
}
<div class="sectionHeader">
    Page Not Found</div>
<p>
    The page you requested could not be found. There are a couple of possible reasons
    for this:</p>
<div style="margin-left: 20px">
    <p>
        <span class="attention">Problem</span>: You are using an outdated bookmark.<br />
        <span class="attention">Resolution</span>: Using the buttons on the left, locate
        the correct page and then update your bookmark.</p>
    <p>
        <span class="attention">Problem</span>:Your browser has an outdated page in its
        cache.<br />
        <span class="attention">Resolution</span>: Refresh the page. You may have to hold
        down the Shift key while you refresh in order to ensure you get the most recent
        version of the page.</p>
</div>
<p>
    If you feel you've received this message by mistake, please feel free to email the
    <a href="mailto:webmaster@mthoodmiata.org">webmaster</a>. If you do, please provide
    as much detail as possible as to what you were trying to do and what happened when
    you tried to do it.</p>
