@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="width: 165px; top: 580px; position: absolute">
    @RenderSection( "MenuFooter", false )
</div>
<div style="top: 150px; left: 225px; width: 635px; position: absolute;">
    @RenderBody()
</div>
