@model HandleErrorInfo
@{
    ViewBag.Menu = "_MainMenu";
    ViewBag.Title = "MHMC: Site Error";
}
<div class="sectionHeader">
    Site Error</div>
<p>
    The web site seems to have thrown a rod.</p>
<p>
    We apologize for any inconvenience. A message has been sent to the webmaster with
    details of the error and we will fix it as soon as possible.</p>
<p>
    If you feel you've received this message by mistake, please feel free to email the
    <a href="mailto:webmaster@mthoodmiata.org">webmaster</a>. If you do, please provide
    as much detail as possible as to what you were trying to do and what happened when
    you tried to do it.</p>
