@{
    ViewBag.Menu = "_MainMenu"; 
    ViewBag.Title = "Mt.Hood Miata Club: Payment Confirmation";
}
<p>
   <!-- Thank you for your interest and support of our club. You will receive a confirmation
    e-mail for your dues shortly. If you have any questions, please contact the <a href="mailto:membership@mthoodmiata.org">
        Membership Director</a>.</p>  -->

<p>
    Thank you for your interest and support of our club. The Mt. Hood Miata Club welcomes you to join in and contribute or just have fun. Here is the link to our upcoming events, and we hope that you can join us soon. 
<a href="http://www.mthoodmiata.org/"> If you have any questions, please contact the 
<a href="mailto:membership@mthoodmiata.org">Membership Director</a>.</p>
