@{
    ViewBag.Menu = "_MainMenu"; 
    ViewBag.Title = "MHMC: Membership";
}
<table style="width: 100%">
    <tr>
        <td>
            <img src="/images/Signs/school.gif" height="85" width="85" align="left" alt="Membership" />
        </td>
        <td>
            We welcome you to join the Mt. Hood Miata Club. Membership is $30 per year, which
            includes a subscription to the club's monthly newsletter, Miata Meanderings. We
            schedule a variety of events throughout the year locally and also participate in
            events with other Miata Clubs.
        </td>
    </tr>
</table>
<p class="sectionHeader">
    To become a member or renew your current membership:</p>
<p>
    Follow this link to the <a href="/Membership/Application">Membership Application</a>.
    You can use the same process to start a new membership or renew your current membership.
    Complete as much of the information as possible and follow the submission instructions
    at the bottom of the application.</p>
<p>
    For further information regarding membership contact our <a href="mailto:membership@mthoodmiata.org?Subject=Membership Inquiry">
        Membership Director</a>.</p>
