@{
    ViewBag.Menu = "_MainMenu";
    ViewBag.Title = "MHMC: About Us";
}
<p class="sectionHeader">
    Mission Statement</p>
<p>
    Mt. Hood Miata Club is a non-profit organization formed primarily as a social club
    for the enjoyment of the Miata automobile, among a group of like-minded enthusiasts.
    It has no religious, political or financial agenda beyond enjoying the Miata and
    enjoying the club.</p>
<p class="sectionHeader">
    About Mt. Hood Miata Club</p>
<img src="/images/ColumbiaGorgeHotel.jpg" height="66" width="100" alt="Columbia Gorge Hotel"
    style="float: left; border-width: 2px" />
<p>
    First organized on October 14, 1990, approximately 30 Miata enthusiasts met for
    the first time at the downtown Red Lion, Portland. Topics of discussion were a future
    meeting place, notification of meetings, a newsletter, a club name, club officers
    and the first event, which was to the Columbia Gorge. At the end of the first year
    the club had run three tours.</p>
<p>
    Since then, we have had several Boards, continue to increase membership and run
    12 to 14 of our own tours each year. We also participate in events held by other
    nearby Miata Clubs.</p>
<p>
    We hold monthly dinner meetings at various locations throughout the Portland area
    and have an official newsletter, "Meanderings". Board members are nominated and
    elected each year at our meeting in November.</p>
<p>
    Want to know more about us? Read a sample <a target="_blank" href="http://www.mthoodmiata.org/newsletters/Non-member newsletter.pdf">
        newsletter</a> and check out our <a target="_blank" href="http://www.facebook.com/people/Kevin-De-Angelis/1420937696#!/pages/Mt-Hood-Miata-Club/129216476653">
            Facebook</a> page.</p>
