@{
    ViewBag.Menu = "_MainMenu"; 
    ViewBag.Title = "MHMC: Apparel";
}
<table width="100%">
    <tr>
        <td width="32%">
            <img src="/images/apparel/jacket_back.gif" width="200" height="188" alt="Jacket Back" /><br />
            <img src="/images/apparel/shirt_slogo_small.gif" width="200" height="178" alt="Shirt" />
        </td>
        <td width="68%" align="center" valign="middle">
            <p class="sectionHeader">
                Club Jackets and Shirts</p>
            <p>
                The Mt. Hood Miata club has jackets and shirts available for purchase.</p>
            <p>
                These clothing items are available at</p>
            <p>
                Ellison Advertising<br />
                3410 SE 20th<br />
                Portland, OR 97202<br />
                503-236-8400</p>
            <p>
                Please contact them directly for all your club apparel needs.</p>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <a target="_blank" href="http://www.queensboro.com/s/roadster">
                <img src="/images/Vendors/queensboro.gif" alt="Queensboro" style="float: left; margin-right: 5px;
                    margin-bottom: 0px" /></a>
            <p>
                Club apparel, shirts, jackets, caps, etc., can be ordered directly from Queensboro.
                The club logo is already been setup and paid for by the Club. Use the link below
                or click on the Queensboro logo to go to their site and order.</p>
            <p>
                If you encounter difficulties contact Queensboro Customer Service at (800) 847-4478 and they will
                assist you.</p>
            <p>
                <a target="_blank" href="http://www.queensboro.com/>http://www.queensboro.com/</a></p>
        </td>
    </tr>
</table>
