@{
    ViewBag.Menu = "_MainMenu"; 
    ViewBag.Title = "MHMC: Contact Us";
}
<style type="text/css">
    .labelBox
    {
        border-color: silver;
        border-style: ridge;
        margin: 2px;
    }
</style>
<table style="border-width: 0; width: 98%" cellpadding="2">
    <tr>
        <td valign="top" align="center" colspan="2" class="labelBox">
            <p align="center">
                Mt. Hood Miata Club<br />
                P.O. Box 396<br />
                Portland, Oregon 97207</p>
            <p>
                <a href="mailto:miatas@mthoodmiata.org">miatas@mthoodmiata.org</a></p>
        </td>
    </tr>
    <tr>
        <td align="center" class="sectionHeader" colspan="2">
            2013 Board Members
        </td>
    </tr>
    <tr>
        <td style="width: 50%" valign="bottom" align="right">
            <img src="/images/board/president.jpg" alt="President" />
        </td>
        <td style="width: 50%" valign="bottom" align="left" class="labelBox">
            Kimberly Beck<br />
            President<br />
            <a href="mailto:president@mthoodmiata.org">president@mthoodmiata.org</a>
        </td>
    </tr>

    <tr>
        <td style="width: 50%" valign="bottom" align="right">
            <img src="/images/board/vicepresident.jpg" alt="Vice Presidet" />
        </td>
        <td style="width: 50%" valign="bottom" align="left" class="labelBox">
            Jim Oliver<br />
            Vice President<br />
            <a href="mailto:vp@mthoodmiata.org">vp@mthoodmiata.org</a>
        </td>
    </tr>

    
<tr>
        <td style="width: 50%" valign="bottom" align="right">
            <img src="/images/board/treasurer.jpg" alt="Treasurer" />
        </td>
        <td style="width: 50%" valign="bottom" align="left" class="labelBox">
           John Beck<br />
            Treasurer<br />
            <a href="mailto:treasurer@mthoodmiata.org">treasurer@mthoodmiata.org</a>
        </td>
    </tr>

   
<tr>
        <td style="width: 50%" valign="bottom" align="right">
            <img src="/images/board/secretary.jpg" alt="Secretary" />
        </td>
        <td style="width: 50%" align="left" valign="bottom" class="labelBox">
            Bob Rosentreter<br />
            Secretary<br />
            <a href="mailto:secretary@mthoodmiata.org">secretary@mthoodmiata.org</a>
        </td>
    </tr>

    <tr>
        <td style="width: 50%" valign="bottom" align="right">
            <img src="/images/board/activities.jpg" alt="Activities Director" />
        </td>
        <td style="width: 50%" valign="bottom" align="left" class="labelBox">
           Craig Evans<br />
            Activities Directors<br />
            <a href="mailto:activities@mthoodmiata.org">activities@mthoodmiata.org</a>
        </td>
    </tr>

    <tr>
        <td style="width: 50%" valign="bottom" align="right">
            <img src="/images/board/membership.jpg" alt="Membership" />
        </td>
        <td style="width: 50%" valign="bottom" align="left" class="labelBox">
            Diane & Daniel Van Gundy<br />
            Membership Director<br />
            <a href="mailto:membership@mthoodmiata.org">membership@mthoodmiata.org</a>
        </td>
    </tr>

    <tr>
        <td style="width: 50%" valign="bottom" align="right">
            <img src="/images/board/newsletter.jpg" alt="Newsletter Editor" />
        </td>
        <td style="width: 50%" valign="bottom" align="left" class="labelBox">
            Myron Martwick<br />
            Newsletter Editor<br />
            <a href="mailto:editor@mthoodmiata.org">editor@mthoodmiata.org</a>
        </td>
    </tr>

    <tr>
        <td style="width: 50%" valign="bottom" align="right">
            <img src="/images/board/webmaster.jpg" alt="Webmaster" />
        </td>
        <td style="width: 50%" valign="bottom" align="left" class="labelBox">
            Tiersa Rodell<br />
            Webmaster<br />
            <a href="mailto:webmaster@mthoodmiata.org">webmaster@mthoodmiata.org</a>  <!--?Subject=MHMC%20Web%20Inquiry-->
        </td>
    </tr>
</table>