@{
    ViewBag.Menu = "_MainMenu";
    ViewBag.Title = "MHMC: Other Clubs";
}
<table width="98%" align="center" border="0" cellspacing="5" cellpadding="2">
    <tr>
        <td align="left" valign="top" colspan="2">
            Moving? Traveling? Doing research? Just want a pen pal? This page provides links
            to other Miata-related web sites and clubs that you might want to check out.
        </td>
    </tr>
    <tr>
        <td width="50%" align="center">
            <a href="http://www.oregonmx5.com" target="_blank">
                <img src="/images/ClubLogos/WVMC.gif" width="100" height="77" border="0" alt="Willamette Valley" /></a><br />
            <span class="small">Salem, Oregon</span>
        </td>
        <td width="50%" align="center">
            <a href="http://www.clubmiata.com" target="_blank">
                <img src="/images/ClubLogos/ClubMiata.gif" width="150" height="134" border="0" alt="Club Miata Northwest" /></a>
        </td>
    </tr>
    <tr>
        <td width="50%" align="center">
            <a href="http://www.pugetsoundmiataclub.org" target="_blank">
                <img src="/images/ClubLogos/PugetSound.gif" width="150" height="90" border="0" alt="Puget Sound" /></a>
        </td>
        <td width="50%" align="center">
            <a href="http://rcmiataclub.tripod.com" target="_blank">
                <img src="/images/ClubLogos/RedwoodCoast.gif" width="150" height="150" border="0"
                    alt="Redwood Coast" /></a>
        </td>
    </tr>
    <tr>
        <td width="50%" align="center">
            <a href="http://www.wildrosemiata.com" target="_blank">
                <img src="/images/ClubLogos/WildRoseMiata.gif" width="100" height="80" border="0"
                    alt="Wild Rose" /></a><br />
            <span class="small">Edmonton, Alberta, Canada</span>
        </td>
        <td width="50%" align="center">
            <a href="http://lesboismiataclub.org/index.html" target="_blank">
                <img src="/images/ClubLogos/LesBoisClub.gif" width="150" height="92" border="0" alt="Les Bois" /></a><br />
            <span class="small">Boise, Idaho</span>
        </td>
    </tr>
    <tr>
        <td width="50%" align="center">
            <a href="http://www.bayareamiataassociation.com" target="_blank">
                <img src="/images/ClubLogos/BAMAArtwork.jpg" width="150" height="148" border="0"
                    alt="Bay Area" /></a><br />
            <span class="small">Sunnyvale, California</span>
        </td>
        <td width="50%" align="center">
            <a href="http://sacramentoareamiata.org" target="_blank">
                <img src="/images/ClubLogos/samoa.jpg" width="185" height="158" border="0" alt="Sacramento" /></a><br />
            <span class="small">Sacramento, California</span>
        </td>
    </tr>
    <tr>
        <td width="50%" align="center">
            <a href="http://www.seatoskymiataclub.ca" target="_blank">
                <img src="/images/ClubLogos/seatosky.gif" width="125" height="75" border="0"
                    alt="Sea to Sky" /></a><br />
            <span class="small">Vancouver, BC</span>
        </td>
        <td width="50%" align="center">
           <a href="http://www.utahmiataclub.com" target="_blank">
                <img src="/images/ClubLogos/Utah.jpg" width="150" height="90" border="0" alt="Utah Miata Club" /></a><br />
           <span class="small">Utah</span>
        </td>
    </tr>
    <tr>
        <td width="50%" align="center">
            <a href="http://www.okmiataclub.com" target="_blank">
                <img src="/images/ClubLogos/OVMC-logo-600.gif" width="150" height="90" border="0" alt="Okanagan Valley" /></a><br />
            <span class="small">British Columbia</span>
        </td>
        <td width="50%" align="center">
            <a href="http://www.clubmiata.net" target="_blank">
                <img src="/images/ClubLogos/ClubLogo.jpg" width="150" height="150" border="0"
                    alt="Vancouver Island" /></a><br />
            <span class="small">Vancouver Island</span>
        </td>
    </tr>
	
    <tr>
        <td width="50%" align="center">
            <a href="http://www.bayareamiatadrivers.com" target="_blank">
                <img src="/images/ClubLogos/masthead3.png" width="150" height="90" border="0"
                    alt="Bay Area Miata Drivers"  /></a><br />
            <span class="small">SF Bay area</span>
        </td>
        </td>
        <td width="50%" align="center">
           <a href="http://http://www.deltamiata.us/" target="_blank">
               <img src="/images/ClubLogos/DMC Logo.jpg" width="150" height="120" border="0"
                   alt="Sacramento River Delta Miata Club" /></a><br />
           <span class="small">Sacramento River Delta area</span>
        </td>
    </tr>
</table>
