@{
    ViewBag.Menu = "_MainMenu";
    ViewBag.Title = "MHMC: Vendors";
}
<table width="100%" border="0" cellspacing="4" cellpadding="2">
    <tr>
        <td align="center">
            <a href="http://www.alanwebbmazda.com" target="_blank">
                <img src="/images/vendors/alanwebb.gif" width="234" height="40" border="2" alt="Alan Webb Mazda" /></a>
            <p style="text-align: left">
                Alan Webb Mazda is providing a 10% discount on parts.</p>
        </td>
    </tr>
    <tr>
        <td align="center">
            <a href="http://mazda.royalmoore.com" target="_blank">
                <img src="/images/vendors/royalmoore.gif" width="269" height="40" border="2" alt="Royal Moore Mazda" /></a>
            <p style="text-align: left">
                Royal Moore is providing a 10% discount on parts and labor through their Mazda Service
                Department. Mention you are a club member.</p>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <a href="http://store.yahoo.com/cgi-bin/clink?gomiata+aybyfj+index.html+" target="_blank">
                <img src="/images/vendors/gomiata.jpg" width="234" height="30" border="2" alt="Go Miata" /></a>
            <p style="text-align: left">
                Go Miata have partnered with us to provide the club a cash back bonus for all purchases
                made through the club's web site. By using the link above, to make any purchases,
                3% of your total sale goes to help support the Mt. Hood Miata Club. Purchases made
                directly with Go Miata (not through the link on this page) do not apply to the cash
                back offer.</p>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <a href="http://www.corksport.com/" target="_blank">
                <img src="/images/vendors/corksport.gif" width="234" height="40" border="2" alt="CorkSport" /></a>
            <p style="text-align: left">
                Cork Sport is our local Miata specific Parts, Service and Accessory resource. They
                offer our club members a 5% discount on all parts and services. Before you place
                that next order, give them a call, if they don't have it, they can probably get
                it, and can usually meet or beat their competitors pricing.</p>
        </td>
    </tr>
</table>
<p class="sectionHeader">
    Miata Parts &amp; Accessories</p>
<p>
    Please note: The Mt. Hood Miata Club provides these links for your convenience.
    We do not represent or have any affiliation with any of the companies presented
    here.
</p>
<table width="98%" align="center" border="0" cellspacing="4" cellpadding="2">
    <tr>
        <td width="50%" align="center">
            <a href="http://www.miatamania.com/" target="_blank">
                <img src="/images/vendors/mossmotors.gif" width="234" height="31" border="0" alt="Moss Motors" /></a>
        </td>
        <td width="50%" align="center">
            <a href="http://www.mazdastuff.com" target="_blank">
                <img src="/images/vendors/mazdasouth.gif" width="234" height="30" border="0" alt="Mazda South" /></a>
        </td>
    </tr>
    <tr>
        <td width="50%" align="center">
            <a href="http://www.crazyred.com" target="_blank">
                <img src="/images/vendors/crazyreditalian.gif" width="234" height="30" border="0"
                    alt="Crazy Red Italian" /></a>
        </td>
        <td width="50%" align="center" height="32">
            <a href="http://www.flyinmiata.com" target="_blank">
                <img src="/images/vendors/flyinmiata.gif" width="234" height="30" border="0" alt="Flyin' Miata" /></a>
        </td>
    </tr>
    <tr>
        <td width="50%" align="center">
            <a href="http://www.duettomotors.com" target="_blank">
                <img src="/images/vendors/duettomotors.gif" width="234" height="30" border="0" alt="Duetto Motors" /></a>
        </td>
        <td width="50%" align="center">
            <a href="http://www.racingbeat.com/FRmiata.htm" target="_blank">
                <img src="/images/vendors/racingbeat.jpg" width="234" height="30" border="0" alt="Racing Beat" /></a>
        </td>
    </tr>
    <tr>
        <td width="50%" align="center">
            <a href="http://www.finishlineperformance.com" target="_blank">
                <img src="/images/vendors/finishline.gif" width="234" height="30" border="0" alt="Finish Line Performance" /></a>
        </td>
        <td width="50%" align="center">
            <a href="http://www.wolfmiata.com" target="_blank">
                <img src="/images/vendors/wolfmiata.gif" width="234" height="30" border="0" alt="Wolf Miata" /></a>
        </td>
    </tr>
    <tr>
        <td width="50%" align="center">
            <a href="http://www.hosetechniques.com" target="_blank">
                <img src="/images/vendors/hosetechniques.gif" width="234" height="30" border="0"
                    alt="Hose Techniques" /></a>
        </td>
        <td width="50%" align="center">
            <a href="http://www.rspeed.net" target="_blank">
                <img src="/images/vendors/rspeed.gif" width="234" height="30" border="0" alt="RSpeed" /></a>
        </td>
    </tr>
    <tr>
        <td width="50%" align="center">
            <a href="http://www.knobmeister.com" target="_blank">
                <img src="/images/vendors/knobmeister.gif" width="234" height="30" border="0" alt="Knobmeister" /></a>
        </td>
        <td width="50%" align="center">
            <a href="http://www.TeamMiata.com" target="_blank">
                <img src="/images/vendors/teammiata.gif" width="234" height="30" border="0" alt="TeamMiata" /></a>
        </td>
    </tr>
    <tr>
        <td width="50%" align="center">
            <a href="http://www.mmmiata.com" target="_blank">
                <img src="/images/vendors/mmmarketing.gif" width="234" height="30" border="0" alt="MMMIata" /></a>
        </td>
        <td width="50%" align="center">
            <a href="http://www.westcobattery.com" target="_blank">
                <img src="/images/vendors/westco.gif" width="234" height="30" border="0" alt="Westco Battery" /></a>
        </td>
    </tr>
</table>
