@{
    ViewBag.Menu = "_MainMenu";
    ViewBag.Title = "MHMC: Boot Folding";
}
<p>
    <span class="sectionHeader">Boot Folding</span><br />
    by Paul Menzel</p>
<p>
    It has come to my attention not every one has figured out how to properly fold and
    store their boot. As you go through the pictures here you should be able to figure
    it out. Just remember, having the folds line up with the breaks in the plastic it
    the key. The pictures are from an M1 but the same steps apply to the M2.</p>
<p>
    <img src="/images/BootFolding/Start.jpg" width="500" height="375" alt="Start" /><br />
    Start with the boot unattached from the car.</p>
<p>
    <img src="/images/BootFolding/FirstFold.jpg" width="500" height="375" alt="First Fold" /><br />
    The first fold is across the full width of the boot.</p>
<p>
    <img src="/images/BootFolding/SecondFold.jpg" width="500" height="375" alt="Second Fold" /><br />
    The Second fold is at the breaks near the top latches.</p>
<p>
    <img src="/images/BootFolding/ThirdFold.jpg" width="500" height="375" alt="Third Fold" /><br />
    The third fold is into a triangle. I personally skip this one.</p>
<p>
    <img src="/images/BootFolding/LastFold.jpg" width="500" height="375" alt="Last Fold" /><br />
    The last fold in right down the middle.</p>
<p>
    <img src="/images/BootFolding/StoragePosition.jpg" width="500" height="375" alt="Storage Position" /><br />
    If you use all the folds, it fits nicely in the trunk.</p>
