@{
    ViewBag.Menu = "_MainMenu";
    ViewBag.Title = "MHMC: Cobra CB Install";
}
<p>
    <span class="sectionHeader">Installing a Cobra 75 WX ST / CB Radio in a 2006+ Miata
        MX-5</span><br />
    by Myron Martwick</p>
<p>
    This installation was done by Myron Martwick in a 2006 Nordic Green MX-5/Touring
    Model.</p>
<p>
    What makes this installation relatively easy is the all the panels have snap fastenings
    or clips into slots on the metal car frame. When you examine the interior panels
    of the NC it is obvious that an order of panel removal is necessary since the edges
    of the panels overlap onto other panels. The installation requires the complete
    removal of the back panels of the passenger compartment, the passenger side door
    kick plate, loosening of the center console, the panels in the trunk on all sides
    except the driver’s side, the wind screen and the coverings of the roll bar hoops.
    This is not as difficult as it sounds. The total cost should not exceed $ 200 unless
    the rear speakers are needed.</p>
<p>
    Myron Martwick would be available to assist any member wanting to do this installation.</p>
<table class="border" style="width: 100%">
    <tr style="vertical-align: top">
        <td>
            The Cobra 75 WX ST is small, convenient, and has sufficient power for all Mt. Hood
            Club activities and events. This installation uses the rear speakers on the back
            panel of the NC Miata as external speakers for the CB. The proximity of the speakers
            to both the driver and passenger gives sufficient volume so that CB transmission
            can be heard over road noise. The installation allows for the switching of the speakers
            between the Audio System and the CB radio. Components can be purchased at Radio
            Shack and Napa Auto Parts. NC models without factory rear speakers will have to
            have those speakers installed. Kits may be purchased and installed as part of this
            procedure. The Audio System Speakers are prewired with a plug behind the rear panel
            and the installation is simple once the cockpit panels are removed.
        </td>
        <td>
            <img src="/images/CBInstall/fig1.jpg" width="150" height="150" alt="Figure 1" />
        </td>
    </tr>
    <tr style="vertical-align: top">
        <td>
            The installation requires installing two relays to switch the speakers between the
            Audio System and the CB. These relays can be mounted in the trunk behind the right
            hand panel and towards the front from the removable side panel for the tire jack
            (Fig 2). The switch for the relays is mounted in the snap out tray at the front
            of the center console just below the AC & Heater Controls. A lighted rocker switch
            is recommended so you know when the switch is activated.
        </td>
        <td>
            <img src="/images/CBInstall/fig2.jpg" width="150" height="150" alt="Figure 2" />
        </td>
    </tr>
    <tr style="vertical-align: top">
        <td>
            Power for the CB and the relays can be wired from the 15A fuse for the AUX jack
            in the instument panel. The location of this fuse can be found in your Owners Manual.
            This fuse adapter can be ordered from NAPA Auto Parts. Note the red power lead coming
            from the top of the fuse. This adapter is simple to install since it goes in the
            same fuse spot as the AUX and hass two of it’s own fuse holders, one for the AUX
            and one for the CB.
        </td>
        <td>
            <img src="/images/CBInstall/fig3.jpg" width="150" height="150" alt="Figure 3" />
        </td>
    </tr>
    <tr style="vertical-align: top">
        <td>
            The power and speaker control box can be mounted in the passenger’s foot well on
            the door side using Velcro on the hard surface. This placement allows for easy access
            and installation of the antenna and external speaker wire that are installed under
            the kick plate of the passenger’s door. It is also easy to fish the power wire across
            from the fuse box on the driver’s side.
        </td>
        <td>
            <img src="/images/CBInstall/fig4.jpg" width="150" height="150" alt="Figure 4" />
        </td>
    </tr>
    <tr style="vertical-align: top">
        <td>
            The relay switch and handset connector are mounted in the tray just in front of
            the gear shift lever. This tray just pops out. It allows for easy access to fish
            the control cable from the control box and the power wires to and from the relay
            switch. The power lead from the relay switch is fished down through the center console.
        </td>
        <td>
            <img src="/images/CBInstall/fig5.jpg" width="150" height="150" alt="Figure 5" />
        </td>
    </tr>
    <tr style="vertical-align: top">
        <td>
            When beginning the removal of the passenger compartment panels move both seats forward
            as far as possible. All the panels in the back of the passenger compartment are
            fastened with snap ins and are easily released by just using your finger nails.
            The door sills, hoop and wind screen removal can be done using putty knife 1 ½ -
            2 inches wide. The windsreen is held by 4 hidden snaps. The hoops must also be removed.
            The front black pieces snap off and the silver back pieces are held by phillips
            srews that are revealed when the black front pieces are removed.
        </td>
        <td>
            <img src="/images/CBInstall/fig6.jpg" width="150" height="150" alt="Figure 6" />
        </td>
    </tr>
    <tr style="vertical-align: top">
        <td>
            The center console has a screw hidden under a snap out at the bottom of the forward
            cup holder. This can be removed with a flat screw driver. The screw holding the
            console has a Phillips head. This must be loosened to allow for the removal of the
            back panels and to fish the wire from the relay switch through to the trunk.
        </td>
        <td>
            <img src="/images/CBInstall/fig7.jpg" width="150" height="150" alt="Figure 7" />
        </td>
    </tr>
    <tr style="vertical-align: top">
        <td>
            The CB Handset unit can be stored in a fishing reel bag and put in one of the storage
            compartments on the back wall. I store mine on the driver’s side.
        </td>
        <td>
            <img src="/images/CBInstall/fig8.jpg" width="150" height="150" alt="Figure 8" />
        </td>
    </tr>
    <tr style="vertical-align: top">
        <td>
            The antenna can be unscrewed from the base and stored in a PVC pipe with one end
            cap gluded in place and the other end removable. The base can be stored in the trunk
            by attaching it to the metal under surface of the trunk deck.
        </td>
        <td>
            <img src="/images/CBInstall/fig9.jpg" width="150" height="150" alt="Figure 9" />
        </td>
    </tr>
    <tr style="vertical-align: top">
        <td>
            The magnetic mounted antenna can be placed on the trunk deck between the trunk lid
            and the space for the top.
        </td>
        <td>
            <img src="/images/CBInstall/fig10.jpg" width="150" height="150" alt="Figure 10" />
        </td>
    </tr>
</table>
<p class="sectionHeader">
    List of materials and Tools</p>
<ul>
    <li>1 – <a href="http://www.google.com/search?q=cobra+75wsxt&tbs=shop%3A1&aq=f#hl=en&tbs=shop:1&sa=X&ei=ANpfTZ6ZFYzEsAON8JHNCA&ved=0CCgQBSgA&q=cobra+75wxst&spell=1&biw=1259&bih=899&bav=on.1,or.&fp=d0dc410bca72fadb">
        Cobra 75WSXT CB Radio</a> / ~$85.00</li>
    <li>1 – <a href="http://www.buyreliant.com/cbantenna/magnetic_antennas.htm">Magnetic
        Mount VMT CB Radio Antenna</a> / $27.00</li>
    <li>2 – Relay/w socket DPDT / Radio Shack Part# 275-0206 / $9.49ea.</li>
    <li>1 – Lighted Automotive Switch / Radio Shack Part# 275-772 / $3.99</li>
    <li>1 - Rainbow wire 20’ roll, Radio Shack Part# 278-858 / $5.99</li>
    <li>1 – 90’ roll - 3 Color/22 ga. Solid Hook Up Wire / Radio Shack Part# 278-1221</li>
    <li>1 - Fuse Adapter Napa Auto Parts / $ 20.00,</li>
    <li>1 - 1” wide Velcro / 1 Foot</li>
    <li>1 - 4” square of hard packing foam</li>
    <li>1 – Soldering Iron & rosin core solder</li>
    <li>1 – Small Straight Slot Screwdriver</li>
    <li>1 – Medium sized Philips Screwdriver</li>
    <li>1 – Wire Cutter & Stripper</li>
</ul>
