@{
    ViewBag.Menu = "_MainMenu";
    ViewBag.Title = "MHMC: Fuel Filter";
}
<p class="sectionHeader">
    Fuel Filter</p>
<p>
    I have often been surprised by how many Miata owners assume that the fuel filter
    needs replacing every 30k miles. In actuality, it is only scheduled every 60k miles.</p>
<p>
    This is only a 20 minute job if you have the correct tools to do the job, but precautions
    must be taken since you will be working with the fuel lines and a small amount of
    gas will spill regardless of the precautions you take. Remember, the fumes are most
    flammable, not the liquid gasoline. Fumes can travel along the ground for amazing
    distances, so take appropriate precautions and remove any possible ignition sources
    such as heaters or open flames of any kind as well as ensuring that the area is
    well ventilated. If your gas furnace is in the garage, DO NOT PERFORM THIS PROCEDURE
    IN THE GARAGE! The starting furnace or the pilot light, depending on the model,
    can cause an explosion. This will most likely damage your Miata, and ruin your day
    too. The same is true of any electrical appliance. If running it can be an ignition
    source. Washers and dryers, if off, are safe, but if in use are not. It only takes
    one spark, so please be very careful.</p>
<p>
    Start by removing the locking lug nut from the right rear wheel of the Miata. Then
    break loose, but do not remove the other three lug nuts. Now jack up the car using
    the differential base as a central jacking point and place the rear of your Miata
    on jack stands. Be careful not to apply jacking pressure to the Power Plant Frame
    (PPF) that runs forward to the transmission. If you have any doubts about the correct
    locations for the jack stands, please refer to your owner's manual. Remove the right
    rear wheel and set it aside out of your way.</p>
<p>
    Now you will have access to the area where the fuel filter resides. Using the Phillips
    screwdriver, remover the plastic screws and pull out the plugs that secure the plastic
    cover just forward of the wheel well and inboard. This protects the fuel filter
    from damage from road debris. Hint: If the plastic screws are stubborn, apply outward
    pressure to the plastic cover while unscrewing them and the threads will bite in
    better and unscrew.</p>
<p>
    Now that the filter is exposed, you can unbolt the filter bracket from the car.
    Do not unbolt the filter from the bracket, this is not necessary. Once this is done,
    clamp the rubber fuel lines, using the hose-clamping pliers, on either side of the
    filter as close to the filter as possible without clamping on the metal tube inside
    the line. Now slide the Mazda hose clamps off the rubber lines and onto the metal
    lines at the filter. Now you are ready to remove the rubber hoses from the metal
    lines of the filter. Be careful to avoid getting fuel in your eyes, safety glasses
    are recommended. Once the filter is free it will continue to leak fuel for a while
    depending on how it is placed so put it in the drain pan and move it away or outside
    to avoid the fumes.</p>
<p>
    Install the new filter just as you removed the old one. Don't forget to put the
    Mazda hose clamps on the new filter before you attach the rubber hoses. Hoses first,
    then clamps, remove the hose clamping pliers that have been preventing pressure
    and fuel loss, then bolt the filter &amp; bracket to the car and replace the cover.
    Those pesky plastic screws can be just pushed straight in w/o using the screwdriver.
    Replace the wheel, lower the Miata, and replace your locking lug nut and finish
    tightening all the lug nuts on the wheel.</p>
<p>
    Now you can forget about this for another 60k miles. Or start on the timing belt.</p>
