@{
    ViewBag.Menu = "_MainMenu";
    ViewBag.Title = "MHMC: Tech Talk";
}
@section MenuFooter
{
    <br />
    <div align="center">
        <a target="_blank" href="http://get.adobe.com/reader/">
            <img src="/images/Adobe/get_adobe_reader.gif" style="border-width: 0px" alt="Get Adobe Reader" /></a></div>
}
<p>
    This page contains articles that our members have submitted on maintaining and modifying
    your Miata. If you would like to contribute an article please contact our <a href="mailto:webmaster@mthoodmiata.org?Subject=Tech%20Talk%20Submission">
        webmaster</a>.</p>
<ul>
    <li><a href="/Tech/BootFolding">Boot Folding</a> (NA, NB)</li>
    <li><a href="/Tech/FuelFilter">Fuel Filter Replacement</a></li>
    <li><a href="/Tech/PcvValves">PCV Valves and Grommets</a></li>
    <li><a href="/Tech/TowHitch">Tow Hitch/Bike Rack Review</a> (NA, NB, NC)</li>
    <li><a href="/Tech/TransFluidChange">Transmission Fluid Change</a> (NA, NB)</li>
    <li><a href="/Tech/WindowZippers">Window Zipper Slides</a> (NA)</li>
    <li><a href="/Tech/CobraCBInstall">Installing a Cobra CB</a> (NC)</li>
    <li><a href="/Tech/NCPowerAntennaInstall" target="_blank">Installation: Automatic Power
        Antenna (pdf)</a> (NC)</li>
    <li><a href="/Tech/ShortenParkingBrakeLever" target="_blank">Shorten Your Parking Brake
        Lever (pdf)</a> (NA)</li>
</ul>
