@{
    ViewBag.Menu = "_MainMenu";
    ViewBag.Title = "MHMC: PCV Valves";
}
<p class="sectionHeader">
    PCV Valves and Grommets</p>
<p>
    Many Miata owners change their oil and filter regular as clock work, but how many
    of you have replaced the Positive Crankcase Ventilation, PCV, valve?</p>
<p>
    This valve regulates pressure in the upper part of the engine and should be replaced
    every 30k miles as a preventative maintenance item along with the rubber grommet
    that fits into the cam cover.</p>
<p>
    This is found on the intake manifold side of the engine. It is pushed into the cam
    cover and has a 10 mm hose running from the PCV valve to the intake manifold. Simply
    grab hold and pull the hose away from the cam cover and the valve will come out
    of the grommet in the cam cover. You can now remove the grommet from the cam cover
    with a pair of needle nose pliers and remove the PCV valve from the hose. Install
    the new grommet into the cam cover and then the new PCV valve into the hose and
    re-attach them. Don't try to fit the valve and grommet into the cam cover together,
    the combined diameter is too large to easily press in. Trust me, I tried. :-)</p>
<p>
    Expect to pay under $25.00 for the Mazda parts and about half that for generic ones.</p>
