@{
    ViewBag.Menu = "_MainMenu";
    ViewBag.Title = "MHMC: Tow Hitch/Bike Rack Review";
}
<p>
    <span class="sectionHeader">Product Review<br />
        Hard Dog 1.25" Hitch for 90-97 Miata<br />
        Thule Hitching Post Pro Bike Rack</span><br />
    by Martin Brown</p>
<p>
    I wanted a bike rack for my 1995 Miata, and I wanted one that would easily fit into
    the trunk of the Miata when I wasn't using it. I tried a strap-mounted trunk rack
    but it was a disaster. After a lot of inquiries, the combination of gear I came
    up with was a 1.25" receiver hitch (in this case, from Hard Dog/Bethania Garage)
    and a Thule Hitching Post Pro. Here's how they've worked out so far.</p>
<p class="sectionHeader">
    HARD DOG 1.25" HITCH</p>
<p>
    This was about $140 plus shipping, and to the casual observer, such as my dog, it's
    practically invisible (see highlighted area).</p>
<p>
    <img height="362" src="/images/HitchBikeRack/hitch.jpg" width="480" alt="Hitch" /></p>
<p>
    The installation of the hitch was straightforward. The hitch is cleverly designed
    to utilize the bolts that secured the rear tie-down hooks of a 90-97 Miata. (Since
    those hooks were only used during the original shipping of the Miata, there's no
    harm removing them.) When I really really really scrunched under the car, I found
    that the hooks could be removed and the hitch assembly installed without any jack
    stands, using only standard ratchet wrenches. It took me about an hour, though someone
    more mechanically inclined, or in possession of jack stands, could probably do it
    faster. I did need to expand (using a drill) one of the holes in the hitch assembly
    in order to make a really square fit. Now it's connected with 8 bolts, and seems
    pretty darn solid. Since it's unobtrusive, I'll just leave it on there permanently.</p>
<p>
    Here's two closer views. This is kind of a dog's eye view:</p>
<p>
    <img height="362" src="/images/HitchBikeRack/hitch_closeup.jpg" width="480" alt="Close-Up" /><br />
    And here's the view of the hitch you would get if you got drunk and fell down by
    the Miata. (Some paint has chipped off the hitch).</p>
<p>
    <img height="362" src="/images/HitchBikeRack/hitch_even_closer.jpg" width="480" alt="Close-Up" /></p>
<p>
    No problems with the hitch so far. The bike rack (see below) has a bit of play in
    this hitch, even when bolted in tight, but so far there has been no perceptible
    motion while driving, which is what counts.</p>
<p class="sectionHeader">
    THULE HITCHING POST PRO BIKE RACK, 1.25" VERSION</p>
<p>
    This cost $130 at Rack Attack in Portland. I bought this rack partly on the recommendation
    of the salesman at Rack Attack (he said it was a solid rack for the price) and also
    on my calculation that without much trouble I could get it in my Miata's trunk.
    It is attached to the receiver hitch with a strong bolt and split washer (a wrench
    is included with the rack). Here's what it looks like on the car:</p>
<p>
    <img height="379" src="/images/HitchBikeRack/bike_rack.jpg" width="480" alt="Bike Rack" /><br />
    I've highlighted the area that holds the bikes. The cradles for the bikes are simple
    to use and secure. Driving with a bike on the rack on both local roads and the interstate,
    I was impressed with stability of the whole arrangement. No jiggling or banging
    or wiggling – it was solid, using just the standard hardware provided with the rack.</p>
<p>
    Note how the rack extends a good distance from the back of the car. The bikes stay
    well away from the car, so there's no problem with them banging against the paint
    job, if you care about that kind of thing. It's easy to get access to the trunk
    without moving the bikes. If you want even more access to the trunk, you can tilt
    the main post down..</p>
<p>
    <img height="362" src="/images/HitchBikeRack/bike_rack_down.jpg" width="480" alt="Bike Rack Down" /></p>
<p>
    Now the part that's really important to me. I wanted it to fit in the trunk without
    dominating it. After a three-minute disassembly (I timed it), using the wrenches
    included with the rack, here's how it fits.
</p>
<p>
    <img height="636" src="/images/HitchBikeRack/bike_rack_trunk.jpg" width="480" alt="Bike Rack Trunk" /></p>
<p>
    Sorry about this photo's overexposure, but you can still tell the rack takes up
    hardly any room – there's lots left for helmets, gear, picnics, or in my case, detritus
    from local maple trees.</p>
<p>
    Hope this helps.</p>
