@{
    ViewBag.Menu = "_MainMenu";
    ViewBag.Title = "MHMC: Transmission Fluid Change";
}
<p>
    <span class="sectionHeader">Transmission Fluid Change on the NB</span><br />
    by Terry Worrell</p>
<p>
    Here are some helpful tech hints based on my "experience" of changing the transmission
    fluid on my 2000 NB during this past 4th of July weekend. The point of this article
    is not necessarily a "how-to-do" but more of a re-cap on the mistakes I made and
    possible improvements. And Eric will add his comments, (in <i>italics</i>), to make
    this more complete.</p>
<p>
    This process was competed on my NB, but is the same for an NA.</p>
<p>
    I educated myself on how to do this operation by first visiting the following web
    site to get the "basics."</p>
<p>
    <a href="http://www.blueridgemiataclub.org/technical/tranny/index.htm" target="_blank">
        www.blueridgemiataclub.org</a></p>
<p>
    This site by the Blue Ridge Miata Club does an excellent job of providing the background,
    and it has pictures which are quite helpful. Be aware, the site covers the whole
    territory of changing the shift turret oil, differential oil, etc. So first read
    the Transmission Oil Selection, Tools and Other Parts Needed section, briefly review
    the other sections, then center your interest on Transmission Drain and Refill.
    I ended up making a copy of all the sections, plus the pictures, and I suggest you
    do the same.</p>
<p>
    I decided on changing my transmission oil from OEM to synthetic <i>(Redline MTL)</i>.
    Suffice to say that selection of the correct transmission oil is very subjective
    process. I suggest that you use the "Search" function on Miata.net forums and do
    some research on this subject yourself, buy the oil of your choice, and proceed
    as follows:</p>
<p>
    1. The first step is jacking up the car and safely supporting it with jack stands.
    For my operation I already had the front end on jack stands to change the engine
    oil. Therefore, I assumed I would simply elevate the front end higher for the transmission
    oil change. That was incorrect. I suggest you elevate the rear end as well with
    jack stands. Just having the front end elevated was too confining, and you will
    need room to maneuver around. After doing a solo in installing my Racing Beat Header
    I should have remembered how much room you need when working underneath the Miata.
    Also if you read Step 1 of the Differential Drain and Refill section of the web
    site, you will note that they suggest using all four jack stands. I missed that
    particular point.</p>
<p>
    2. So next slip onto your crawler and scoot underneath your Miata with a 14 mm open
    end wrench to loosen the square nut of the fill plug. Well that sounds easy enough
    on the web site but, darn, that nut was tight!! My guess is that it was the thread
    compound the factory used. Anyway, my 14 mm wrench could not provide enough leverage,
    so I needed a "breaker bar" to initially get it loose. Next there was the problem
    of my RB header exhaust pipe being just enough in the way, that I was forced to
    use a 10" adjustable wrench for most of this operation. So be prepared for tools
    that provide more leverage. <i>(I always use a large crescent wrench for this task.
        Square sockets do exist, but are usually expensive.)</i></p>
<p>
    3. So with the fill plug off, we next concentrate removing the 24 mm drain plug.
    This one was quite easy, so make sure you have your oil pan ready. Note that this
    plug is magnetic, so be sure to clean all those potential metal filings off the
    plug. I did a visual on the washer and determined it was okay and did not need replacement.
    Your choice.</p>
<p>
    <i>I choose to loosen both the fill plug and the drain plug w/o removing them, then
        after placing the drain pan under the holes, I remove the drain plug, followed by
        the fill plug. The oil will drain relatively slowly until you remove the fill plug
        and allow air into the transmission.</i></p>
<p>
    4. After the OEM fluid is drained, it's time to replace the drain plug and torque
    it to 29-43 ft-lbs. There is plenty of room to do this operation.</p>
<p>
    5. Well the remainder of Step 4 brings a smile to my face. It says simply "Fill
    the transmission with 2.1 quarts of new transmission oil, using an oil transfer
    pump or similar." Well to use a favorite Eric expression when I make real bad email
    suggestion: LOL <i>(Laugh Out Loud)</i></p>
<p>
    To me this was the toughest step of the process. My first suggestion is wear safety
    goggles in this fill operation. I used a Mityvac <i>(approx. $15)</i> , and it didn't
    work well at all. I had to cut-to-fit the tubing provided. It took both hands to
    operate the pump and hold the quart bottle of MTL. The whole process was cumbersome,
    and the fill tube kept slipping out of the transmission fill hole getting small
    amounts of oil all over me and the floor. Not a pretty sight. The next time I will
    use masking tape or equivalent to secure <i>(temporarily)</i> the tube in the hole.
    Oh, and another suggestion, have plenty of paper towels handy for potential mishaps.</p>
<p>
    For my next transmission oil change I plan to use a transfer pump <i>(#37739, costing
        $10 @@ Harbor Freight)</i>. It appeared too hefty for this operation originally,
    but now I think it might be much more adequate.</p>
<p>
    <i>Most auto parts stores sell bottle pumps for this task, usually for &lt; $5. They
        screw into the oil bottle and have a hose attached to allow pumping in awkward situations.
        Mine is for a particular brand and doesn't thread into the Red Line bottles, but
        it works fine just slid in the bottle and not threaded. This makes this job much
        easier. If the car is level, I usually add oil until it comes out of the fill hole.
        This is considered general practice.</i></p>
<p>
    6. So once you have 2.1 new quarts of transmission fluid added, it's time to install
    the square end fill plug. But don't forget that you must apply a gasket sealant
    to the back threads. I used NAPA's Sensor-Safe RTV Blue Silicone Gasket Maker. This
    worked well for me in my previous oil pressure sensor installs. Again I found this
    plug to be rather tight in the process of re-installing it. And I needed the 10"
    adjustable wrench to adequately finish the tightening to the gasket sealant.</p>
<p>
    <i>(The fill plug is a tapered pipe thread and the sealant is optional. Just be sure
        to tighten it securely.)</i></p>
<p>
    That said, I was quite happy with the results of this operation. No leaks and now
    I have smoother shifting. Previously I had a rather "notchy" 2nd gear. and for now
    that has disappeared. And it got even better when I did the "Turret" oil as well.</p>
