@{
    ViewBag.Menu = "_MainMenu";
    ViewBag.Title = "MHMC: Window Zippers";
}
<p class="sectionHeader">
    Window Zipper Slides</p>
<p>
    Has your window zipper been acting up? Sticking along the way as you attempt to
    get that top up in the rain? Usually this is not due to the zipper itself being
    damaged, but the slide has spread and fatigued to the point where it no longer feeds
    the two sides of the zipper together in a smooth manner.</p>
<p>
    Mazda has finally addressed this problem and is now selling the slide by itself
    as an available part #. If this is something you need, call your friendly Mazda
    dealer and order a Zipper Tab, P/N NA01R1250B. Cost is $12.85 List. A bargain if
    this allows you to get more use out of your top and keeps you drier as well!</p>
<p>
    Installation is fairly straightforward. Each end of the zipper halves are stapled
    together with two heavy brads. The end that must have the brads removed, before
    you can get the old tab off and install the new one is the one where the slide will
    be when the window is unzipped. Use a pair of needle nose pliers and put the top
    most of the way down while you pull them out from one side. They will straighten
    themselves a bit when you remove them, but use the pliers to bend them to a right
    angle so that the legs are like three sides of a square. This will make putting
    them back in much easier.</p>
<p>
    Now remove the old zipper. Gently spread it from the center if it is stuck, being
    very careful not to damage the two halves of the zipper in the process or all is
    lost.</p>
<p>
    Once the old tab is removed, you can then align the ends and slide the new tab into
    place. It will start zipping together the two side of the zipper as you go. Just
    get it on six inches or so for now. It's easier to work with if the top remains
    mostly down and you can see and work from both sides.</p>
<p>
    Now comes the FUN part! Getting those two brads (staples), back into place. The
    holes are fairly easy to see and the straightened staples should go back in without
    too much of a fight. Be patient and get them through both layers of fabric. Once
    each brad is in place, fold the legs down to keep it there.</p>
<p>
    Congratulations, you have a virtually new zipper that will last several more years.</p>
<p>
    Remember, always unlatch the top first, then unzip the rear window after the tension
    is off the top and in reverse, put the top up with out latching, then zip the window
    in and finally latch the top down. These precautions will keep the zipper and tab
    working well for many years to come.</p>
<p>
    Bonus for '99+ owners: Don't try to find you rear window zipper, there isn't one!
    :-)</p>
