<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MtHoodMiata.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <errorMail from="noreply@mthodmiata.org" to="craig.wagner@gmail.com" subject="Mt. Hood Miata Web Site Error" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="MtHoodMiata" />
    <errorFilter>
      <test>
        <equal binding="HttpStatusCode" value="404" type="Int32" />
      </test>
    </errorFilter>
    <security allowRemoteAccess="false" />
  </elmah>
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="MtHoodMiata" connectionString="Persist Security Info=False;User ID=mthoodmiata;Password=R0@dster;Initial Catalog=MtHoodMiata;Data Source=mthoodmiata.db.7410285.hostedresource.com" providerName="System.Data.SqlClient" />
    <add name="MtHoodMiataEntities" connectionString="metadata=res://*/Models.MtHoodMiata.csdl|res://*/Models.MtHoodMiata.ssdl|res://*/Models.MtHoodMiata.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=mthoodmiata.db.7410285.hostedresource.com;Initial Catalog=MtHoodMiata;Persist Security Info=False;User ID=mthoodmiata;Password=R0@dster;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.0">
      <buildProviders>
        <remove extension=".edmx" />
      </buildProviders>
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name="MtHoodMiata" loginUrl="~/MembersOnly/Login" defaultUrl="~/MembersOnly/Index" slidingExpiration="true" timeout="30" />
    </authentication>
    <customErrors mode="Off" defaultRedirect="~/Error/General">
      <error statusCode="404" redirect="~/Error/NotFound" />
    </customErrors>
    <xhtmlConformance mode="Legacy" />
    <httpRuntime maxRequestLength="10240" requestValidationMode="2.0" />
    <machineKey validationKey="2C4DFA517627B19E46A6AF7B22874EDDE31F5BF35487698C0F2C6D8A59D408A0EC37847933A5DEF1D01CF6C376F7163AAB9C844A3619DB95BFC2ECB0C41F5798" decryptionKey="553A69635CD12EEEBDB1A4FD4BBD53682044E5E667F50796D002CCBCDB43A653" validation="SHA1" decryption="AES" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="Static" duration="2147483647" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <network host="localhost" />
        <specifiedPickupDirectory pickupDirectoryLocation="D:\Development\MtHoodMiata\MailDrop" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <MtHoodMiata.Web.Properties.Settings>
      <setting name="WhatsNewLimit" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="AppEmailTo" serializeAs="String">
        <value>membership@mthoodmiata.org</value>
      </setting>
      <setting name="AppEmailCC" serializeAs="String">
        <value>webmaster@mthoodmiata.org</value>
      </setting>
      <setting name="ErrEmailTo" serializeAs="String">
        <value>craig.wagner@gmail.com</value>
      </setting>
      <setting name="EnableMemberLogin" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisplayErrorDetails" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SmtpServer" serializeAs="String">
        <value>relay-hosting.secureserver.net</value>
      </setting>
      <setting name="EmailFrom" serializeAs="String">
        <value>no-reply@mthoodmiata.org</value>
      </setting>
      <setting name="MaxImageSize" serializeAs="String">
        <value>720</value>
      </setting>
    </MtHoodMiata.Web.Properties.Settings>
  </applicationSettings>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
</configuration>