@{
    ViewBag.Menu = "_MainMenu"; 
    ViewBag.Title = "MHMC: Event Planning";
}
<p class="sectionHeader">
    Planning a Miata Club Tour or Event</p>
<p>
    A Miata Club Tour can be anything from a two hour fun drive to an overnight trip
    someplace special. We have done white water rafting, an overnight trip to Orcus
    Island and trips to Eastern Oregon in the past as well as many local day trips.
    If the driving is fun, there doesn't even have to be anything at the destination.
    For overnight trips just someplace to stay the night at a reasonable cost and relax
    and socialize after a fun day of driving is all that's needed. Almost anything is
    a potential Miata Tour. Use your imagination.</p>
<p>
    Planning a full year of tours by one person is a daunting task. Planning one is
    really easy to do. Do you have a favorite place? A favorite stretch of road? Perhaps
    an event that you love to go to each year? Any one of these is an excellent start
    for planning a Miata Club Tour.</p>
<p>
    With some idea of an end location or a stretch of road you can begin to plan your
    tour. Get out a map, preferably a newer county map and/or the current Thomas Guide
    and start looking for curvy, twisty roads in the area of your ending place or favorite
    roads. Start linking them together in what looks like a fun drive. Keep this up
    until you have worked your way back to a good starting location with plenty of parking
    and one that's easy to find. Sometimes it's helpful to simply pick a start location
    that makes sense to you due to your location or it's central location. Remember
    that we have to caravan out of where ever we start from, so a minimum of traffic
    lights is a BIG plus.</p>
<p>
    Once you have a start location, a general route formed of fun looking roads connected
    together and a final destination, GO DRIVE IT! Make sure to take the maps along
    with you. This is part of the fun. Maps don't always show true conditions. Some
    don't differentiate pavement from gravel. Some roads that look great on the map
    are dull when you drive them in a Miata. Other roads that don't look like much turn
    out to be beautifully scenic or twistier than they appear on the map. Driving the
    route is part of the process. Do not expect the first route you select to be the
    final one.</p>
<p>
    After you first drive you will no doubt have some changes to make. Some you may
    have already made on the first trip out. Re-plan your route and type up a new route
    sheet with the directions. Just a simple thing like:</p>
<ol>
    <li>TURN RIGHT onto Foster road.</li>
    <li>TURN LEFT onto 122 Av.</li>
</ol>
<p>
    Make sure to leave a space in front of the directions to write down the actual mileage
    as you drive it. This is easier with a helper. Now go drive it again. This time,
    keep track of your mileage and your time from start to finish. It's important to
    have an idea of how long your drive will take. Also keep in mind that it's always
    faster with one Miata than it is with 10 or 20+. On this trip you should have a
    pretty good idea of how your route is shaping up. Start thinking about a potty stop
    every hour of the tour or so. People with full bladders don't enjoy scenic drives
    as much as relaxed ones. Trust me on this! ;)</p>
<p>
    You're almost finished. Once you have a starting point, a route you like, and a
    final destination, have planned your potty stops and re-grouping points, if needed,
    then you need to drive the route again and check your mileage. Even better, let
    someone else drive it, following your directions while you ride as passenger. This
    will point out any confusing issues, but also make you more familiar with the route
    so that when you lead it, you won't need to refer to the directions nearly as much,
    if at all. Ideally, you should have driven the final route at least three times
    by the time you lead the event.</p>
<p>
    It is best to drive the route at the same time of day that the event will occur
    on the weekend prior to the actual event. This will allow you to verify that the
    roads are ok, and to spot any potential problems before the date of the tour. If
    at all possible, re-drive the complete route again if you make any changes and update
    the mileage. This helps tremendously for any stragglers or folks that come late
    and are trying to catch up or just enjoy the route on their own at a later date.</p>
<p>
    In a nutshell, that's how to plan a Miata Tour. I invite you all to give it a try.
    And I challenge you to have fun doing it! It's easy and the rewards of leading the
    club's members around for a day are wonderful. Besides, you always wanted to be
    in front of a long line of Miatae, didn't you? :)</p>
