@model string
@{
    ViewBag.Menu = "_MembersOnlyMenu";
    ViewBag.Title = "MHMC: Members Only Home";
}
<p class="sectionHeader">
    Hi, @Model
</p>
<p>
    This section of the web site contains information only accessible to members of
    the club. You will be able to access past newsletters, view the club constitution
    and by-laws, and view the club roster.</p>
<p>
    The "Board Only" button is for the use of board members for performing updates to the
    information contained on the site. Non-board members will not be able to access
    this area.</p>
<p>
    You may use the "Home" button at any time to return to the regular section of the
    site.</p>
