@model RecoverCredentialsViewModel
@{
    ViewBag.Menu = "_MainMenu";
    ViewBag.Title = "MHMC: Recover Username & Password";
}
<p>
    <img src="/images/signs/roadclosed.gif" style="float: left; width: 150px; height: 78px"
        alt="Road Closed" />
    So you've forgotten your username or password? Don't worry, happens to the best
    of us. Enter the email address that the club has on file for you below and your
    username and password will be sent to you. If you no longer have access to that
    email address you'll have to send an email to the <a href="mailto:membership@mthoodmiata.org?Subject=Lost Username or Password">
        Membership Director</a> to get the information.</p>
<p style="float: none">
    You may want to consider using a password safe to store all your usernames and passwords.
    A couple of good (and <strong>free</strong>) ones are <a target="_blank" href="http://keepass.info">
        KeePass</a> and <a target="_blank" href="http://lastpass.com">LastPass</a>.</p>
@using( Html.BeginForm() )
{ 
    <table cellspacing="1" cellpadding="1" align="center" style="position: relative;
        top: 15px; width: 85%">
        <tr>
            <td width="20%" style="vertical-align: top">
                @Html.LabelFor( model => model.Email, "Email Address:" )
            </td>
            <td width="80%" style="vertical-align: top">
                @Html.TextBoxFor( model => model.Email, new { maxlength = "50", style = "width: 200px" } )<br />
                @Html.ValidationMessageFor( model => model.Email )
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                <button type="submit">
                    Submit</button>
                &nbsp;
                <button type="button" onclick="window.location.href='/Home/Index'">
                    Cancel</button>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="attention">
                @if( Model.Result == RecoverCredentialsResult.EmailNotFound )
                {
                    <text>We couldn't find any memberships on file for that email address. You'll need
                    to send an email to the <a href="mailto:membership@mthoodmiata.org?Subject=Lost Username or Password">
                        Membership Director</a> to get the information.</text>
                }
                else if( Model.Result == RecoverCredentialsResult.Success )
                {
                    <text>Your username and password are on their way to the email address you provided.
                    If you do not receive them in the next few hours you will need to send an email
                    to the <a href="mailto:membership@mthoodmiata.org?Subject=Lost Username or Password">
                        Membership Director</a> to get the information.</text>
                }
            </td>
        </tr>
    </table>
}